/* ===========================================================
General Style
=========================================================== */

html,
body {
    margin: auto 0;
    background-color:  #fff;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

#main {
    text-align: center;
    color: #f0f8ff;
}

/* ===========================================================
Navigation Bar
=========================================================== */

.logo {
    cursor: pointer;
    height: 50px;
    width: 100px;
    overflow: hidden;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all .3s ease 0s;
}
  
.nav_links li a:hover {
    background-color: #113852;
    color: #6f8fa3;
  }

li, a {
    font-size: 15px;
    color: #032236;
}

nav {
    width: 100%;
    height: 50px;
    background: rgba(225, 225, 225, .8);
    border-top: 1px solid rgba(225, 225, 225, .2);
    border-bottom: 1px solid rgba(225, 225, 225, .2);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

nav ul li a {
    display: block;
    color: #113852;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2rem;
}
 
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 100px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

/* ===========================================================
Main Image & Caption
=========================================================== */

.img-container {
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
}

/* ===========================================================
Main Text
=========================================================== */

.container {
    position: relative;
}

.tribute-data {
    width: 50px;
    height: 50px;
    left: 50%;
    margin: 25em 0 0 -25px;
}

p {
    padding: 0 10em;
}

#tribute-info {
    background: #06070b;
    padding: 10px;
    margin: 0;
}

