/* ===========================================================
General Style
=========================================================== */

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

body {
  margin: auto 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  width: 100%;
}

/* ===========================================================
Navigation Bar
=========================================================== */

.logo {
  position: absolute;
  height: 52px;
  width: 100px;
  overflow: hidden;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  padding-left: 0;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  background-color: #113852;
  color: #6f8fa3;
}

li,
a {
  font-size: 15px;
  color: #032236;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(225, 225, 225, 0.8);
  border-top: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

nav ul li a {
  display: block;
  color: #000;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2rem;
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
  top: 0;
}

/* ===========================================================
Main Image & Caption
=========================================================== */

#title {
  background: #fff;
  opacity: 15%;
  position: absolute;
  width: 100%;
  bottom: 10%;
  color: #113852;
}

#title p {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  margin: 0;
}

#image {
  width: 100%;
}

#img-caption {
  text-align: center;
  color: #fff;
  font-family: cursive;
}

.img-caption-container {
  position: relative;
  background-color: #000;
  padding-bottom: 5px;
}

/* ===========================================================
Main Text
=========================================================== */

#tribute-info {
  background: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0 6rem;
}

.begin {
  color: #000;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}

.life {
  columns: 3 250px;
  margin-top: 0;
  column-rule: 1px dotted #113852;
  column-gap: 3rem;
}

/* .life > ul li:not(:first-child) {
  padding-top: 10px;
} */

.intro {
  column-span: all;
}

section {
  color: #000;
}

/* ===========================================================
Artistry Images
=========================================================== */

.album-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.artistry-img {
  width: 350px;
  height: 200px;
  margin: 5px;
  transition: all 1s;
}

.artistry-img:hover {
  transform: scale(1.1);
}

/* ===========================================================
End Text
=========================================================== */

.end {
  column-span: all;
  margin-top: 1rem;
}

.family {
  line-height: 1.5rem;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 96px;
}

.family-style {
  text-align: end;
  margin-right: 96px;
}

.end-bg {
  width: 100%;
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.end-vid {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ===========================================================
Footer
=========================================================== */

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #0b0b0b;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 10px;
}

.avicii-site {
  color: #fff;
}

.avicii-site:hover {
  background-color: #113852;
  color: #6f8fa3;
}

.footer-note {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0 50px;
}

.social-menu ul {
  list-style-type: none;
  color: #fff;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
}

i {
  color: #fff;
  display: block;
  float: left;
  padding: 0 50px 0 0;
}

/* ===========================================================
Media Query
=========================================================== */

@media (min-width: 330px) and (max-width: 845px) {
  * {
    box-sizing: border-box;
    max-width: 100%;
  }

  #tribute-info {
    text-align: center;
  }

  #title {
    display: none;
  }

  #img-div {
    max-width: 100%;
  }

  .nav-logo {
    display: none;
    padding: 0;
  }

  .img-caption-container {
    font-size: 0.5rem;
  }

  .life ul {
    columns: 0 250px;
    column-span: all;
    margin-top: 0;
    padding: 0;
  }

  .family {
    text-align: center;
    margin-right: 32px;
  }

  .begin,
  .passing,
  .early life {
    font-size: 2rem;
    text-align: center;
  }

  .album-img {
    padding-bottom: 2rem;
  }

  .bottom {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-menu ul {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  header {
    padding: 0.25rem;
    text-align: center;
    height: 12.5rem;
  }

  nav {
    font-size: 1rem;
    padding: 0;
  }

  nav ul {
    margin: 0;
    padding: 0.01rem;
    flex-direction: column;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  ul li {
    list-style-type: none;
  }
}

@media (max-width: 838px) {
  .social-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  i {
    padding: 0 1.5rem;
  }
}

@media (min-width: 770px) {
  hr {
    display: none;
  }
}

@media (min-width: 681px) {
  #tribute-info {
    padding: 0 1.5rem;
  }
}
