body {
    margin: auto 0;
    background-color:  #06070b;
    text-align: center;
    font-family: 'Red Rose', cursive;
    color: #5486b3;
}

/* Main Image */
#img-div {
    background: #06070b;
    padding: 10px;
    margin: 0;
}

img.expand {
    align-items: center;
    width: 70em; 
    
}

img {
    display: block;
    width: 100%;
}

.img-container {
    max-width: 100%;
}

figcaption {
    font-family: 'Red Rose', cursive;
    color: #5486b3;
    padding: 0 30em;
}

    /* Navigation Bar*/
.nav {
    background-color: #06070b;
    overflow: hidden;
    display: flex;
  }
  
  .nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #f0f8ff;
    color: #06070b;
  }
  
  .nav a.active {
    background-color: #5486b3;
    color: white;
  }

#tribute-info {
    background: #06070b;
    padding: 10px;
    margin: 0;
}

p {
    font-family: 'Red Rose', cursive;
    color: #5486b3;
    padding: 0 10em;
}

.container {
    position: relative;
}

.tribute-date {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 75%;
    left: 50%;
    margin: 25em 0 0 -25px;
}