body {
    margin: auto 0;
    background-color: #b8860b;
    text-align: center;
}

/* Main Image */
#img-div {
    background: #06070b;
    padding: 10px;
    margin: 0;
}

img.expand {
    align-items: center;
    width: 70em; 
    
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

figcaption {
    font-family: 'Charmonman', cursive;
    color: #5486b3;
    font-size: 1rem;
}

    /* Navigation Bar*/
.topnav {
    background-color: #06070b;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #f0f8ff;
    color: #06070b;
  }
  
  .topnav a.active {
    background-color: #5486b3;
    color: white;
  }